@font-face {
  font-family: "iconfont"; /* Project id 2992428 */
  src: url('iconfont.woff2?t=1639150230114') format('woff2'),
       url('iconfont.woff?t=1639150230114') format('woff'),
       url('iconfont.ttf?t=1639150230114') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qian:before {
  content: "\e645";
}

.icon-rili:before {
  content: "\e641";
}

.icon-xinghao:before {
  content: "\e64d";
}

.icon-yinhangqia:before {
  content: "\e674";
}

.icon-24gf-ellipsis:before {
  content: "\eb10";
}

.icon-qianbi:before {
  content: "\e61b";
}

.icon-xinyongkayinhangka:before {
  content: "\e998";
}

.icon-bazi:before {
  content: "\e699";
}

.icon-chuansong:before {
  content: "\e602";
}

.icon-fangdajing:before {
  content: "\e60b";
}

.icon-geren6:before {
  content: "\e627";
}

.icon-location:before {
  content: "\e6ae";
}

.icon-ziyuan:before {
  content: "\e654";
}

.icon-shizhong:before {
  content: "\e74f";
}

.icon-hezi101:before {
  content: "\e690";
}

.icon-baofeicesuan:before {
  content: "\e6dd";
}

.icon-zhipiao:before {
  content: "\e689";
}

.icon-jurassic_export-form:before {
  content: "\e6c9";
}

.icon-jurassic_submit-form:before {
  content: "\e6f7";
}

.icon-bianjibiaodanx:before {
  content: "\e640";
}

.icon-yinhangka:before {
  content: "\e8bf";
}

.icon-biaodan:before {
  content: "\fbb5";
}

.icon-daochubiaodan:before {
  content: "\e636";
}

.icon-tijiaobiaodan:before {
  content: "\e64c";
}

.icon-shouye:before {
  content: "\e751";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-geren2:before {
  content: "\e611";
}

.icon-gongwenbao:before {
  content: "\e67d";
}

.icon-dianhua:before {
  content: "\e614";
}

.icon-laba:before {
  content: "\e7a8";
}

.icon-MBEfenggeduosetubiao-fasong:before {
  content: "\e638";
}

.icon-gengduo:before {
  content: "\e60e";
}

.icon-zanwuneirong:before {
  content: "\e622";
}

.icon-youjiantou:before {
  content: "\e72a";
}

.icon-laba1:before {
  content: "\e621";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-xiajiantou:before {
  content: "\e6cc";
}

